<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
        <div class="container">
                <form action="/login" method="post" class="form-app">
                  <ul class="nav">
                    <li class="nav-item active"><a href="#">Sign in</a></li>
                    <li class="nav-item"><a href="/register">Sign Up</a></li>
                  </ul>
              
                  <label for="login-user" class="form-label" >Username</label>
                  <input type="text" name="username" id="login-user" class="form-input-text" type="text" />
                  
                  <label for="login-pass" class="form-label">Password</label>
                  <input type="password" name="password" id="login-pass" class="form-input-text" type="text" />
              <br><br>
                <a style="color:white;"  href="/register">Don't have an account already? Click here!</a>
              
                  <button class="login-button">Sign In</button>
                </form>
                <p style="color:white" class="link">Welcome to my <span style="color:tomato"><strong>TODO</strong></span> Application</p>
              </div>
</body>
</html>